<nav>
  <ul>
    <li><a routerLink="public-page">PUBLIC PAGE</a></li>
    <li *ngIf="isLoggedIn()"><a routerLink="restricted-page">RESTRICTED PAGE</a></li>
  </ul>
</nav>

<table>
  <tr>
    <td><button (click)="login()" *ngIf="!isLoggedIn()">SIGN IN</button></td>
    <td><button (click)="logout()" *ngIf="isLoggedIn()">SIGN OUT</button></td>
  </tr>
</table>

<div *ngIf="isLoggedIn()">
  You are LOGGED IN
</div>

<div *ngIf="!isLoggedIn()">
  You are LOGGED OUT
</div>


<table *ngIf="isLoggedIn()" style="border: 1px solid black;">
  <tr>
    <td>
      <button (click)="getProfile()">
        GET PROFILE
      </button>
    </td>
    <td>
      <button (click)="getMessages()">
        GET MAILS
      </button>
    </td>
    <td>
      <b>API RESPONSE: </b>{{ apiResponse }}
    </td>
  </tr>
</table>

<router-outlet></router-outlet>